.header {
  background-color: #6f3f98 !important;
  border-color: #6f3f98 !important;
}

.btn-primary {
  background-color: #6f3f98 !important;
  border-color: #6f3f98 !important;
}

.badge-primary {
  background-color: #6f3f98 !important;
  border-color: #6f3f98 !important;
}

.bg-theme {
  background-color: #6f3f98 !important;
  border-color: #6f3f98 !important;
}
