{% extends 'base.html' %}

{% block body %}
    <h3 class="d-flex justify-content-center m-4">Список информационных сообщений</h3>
    <div class="row">
      <div class="col-3 border-right">
        <h4 class="d-flex justify-content-center border-bottom">Фильтры</h4>
        <div class="m-2">
          <div class="form-group">
            <label for="filterDT" class="form-control-label">Дата создания не ранее</label>
            <input class="form-control" type="datetime-local" id="filterDT" value="2020-09-01T09:00" max="{{today}}">
            <small class="text-muted">Информация с датой создания раньше указанной не будет отображаться. Используется московское время (GMT+3)</small>
          </div>
          <div class="form-group">
            <label for="doFilterDT" class="form-check-label mr-2">Фильтровать по дате</label>
            <input type="checkbox" id="doFilterDT">
            <br>
            <small class="text-muted">Учитывать или нет фильтр по дате</small>
          </div>
          <div class="form-group">
            <label for="filterEx" class="form-check-label mr-2">Фильтровать истёкшее</label>
            <input type="checkbox" id="filterEx" checked>
            <br>
            <small class="text-muted">Информация с истёкшим сроком не будет отображаться</small>
          </div>
            <button class="btn btn-primary" id="filterInfo">Обновить</button>
        </div>
      </div>
      <div class="col-8">
        <h4 class="d-flex justify-content-center border-bottom">Информация</h4>
        <a class="text-muted" href="#infoList" data-toggle="collapse" id="infoExpander">Скрыть все</a>
        <div class="collapse m-2 show" id="infoList">
          {% include 'info_list_upd.html' %}
        </div>
      </div>
    </div>

    <div class="modal fade" id="userPrompt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Устаревшая информация</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>Вы действительно хотите отметить информацию как не актуальную?</p>
            <small class="text-muted">(если Ваш статус ниже, чем Модератор, запрос будет проигнорирован)</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-primary" id="confirmExpiration">Да</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
