{% extends 'base.html' %}

{% block body %}
    <h3 class="d-flex justify-content-center m-4">Страница пользователя</h3>
    <div class="row">
      <div class="col-3 border-right">
        <h4 class="d-flex justify-content-center border-bottom">Информация о ВК</h4>
        <div class="m-2">
          <div class="row">
            <div class="col">Фамилия: </div>
            <div class="col" id="surname">{{vk_user.surname}}</div>
          </div>
          <div class="row">
            <div class="col">Имя: </div>
            <div class="col" id="name">{{vk_user.name}}</div>
          </div>
          <div class="row">
            <div class="col">Дата регистрации: </div>
            <div class="col">{{vk_user.format_reg_date()}}</div>
          </div>
          <div class="row">
            <div class="col">Статус: </div>
            <div class="col">{{vk_user.format_status()}}</div>
          </div>
          {% if vk_user.birth_date is not none %}
            <div class="row">
              <div class="col">Дата рождения: </div>
              <div class="col" id="birth_date">{{vk_user.format_birth_date()}}</div>
            </div>
          {% endif %}
          <br>
          <div class="row">
            <div class="col"><btn class="btn btn-primary" id="update_pd">Обновить ПД</btn></div>
            <div class="col"></div>
          </div>
        </div>
        <h4 class="d-flex border-bottom m-4 text-center">Связанный пользователь сайта</h4>
        <div class="m-2">
          {% if vk_user.user is none %}
            <div class="d-flex justify-content-center">Нет связи с пользователем сайта</div>
          {% else %}
            <div class="row">
              <div class="col">Логин: </div>
              <div class="col">{{vk_user.user.login}}</div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-8">
        <h4 class="d-flex justify-content-center border-bottom">Сообщения</h4>
        <a class="text-muted" href="#messagesList" data-toggle="collapse" id="messagesExpander">Показать все</a>
        <div class="collapse row" id="messagesList">
          {% for mes in vk_user.get_all_messages() %}
            {% if mes[0] == 'inc' %}
              <div class="card w-50 bg-theme text-white justify-content-start m-1">
            {% else %}
              <div class="card w-50 bg-light ml-auto m-1">
            {% endif %}
                <div class="card-header text-muted">
                  {{mes[1].format_datetime()}}
                </div>
                <div class="card-body">
                  {{mes[1].text}}
                </div>
              </div>
              <div class="w-100"></div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
