{% extends 'base.html' %}

{% block body %}
<h3 class="d-flex justify-content-center m-4"> Список подразделений </h3>

<div class="d-flex justify-content-center">
  <div class="row justify-content-center">
    {% for department in departments %}
    <div class="card bg-light w-25 m-4">
      <div class="card-header text-muted">
        <div class="m-auto">{{department.id}}</div>
      </div>
      <div class="card-body">
        <div class="card-text">
          <div><b>Полное наименование:</b> {{ department.name }}</div>
          <div><b>Сокращённое наименование:</b> {{ department.short_name }}</div>
          <div><b>Учреждение:</b> <span data-toggle="tooltip" data-placement="right" title="{{ department.edu_org.name }}">{{ department.edu_org.short_name }}</span></div>
          {% if department.teachers | length %}
          <div><b>Преподаватели:</b></div>
            {% for teacher in department.teachers %}
              <div>{{ teacher.pd.short_name() }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
