{% extends 'base.html' %}

{% block body %}
<h3 class="d-flex justify-content-center m-4"> Список преподавателей </h3>

<div class="d-flex row justify-content-center border-top">
  <div class="w-100 justify-content-center m-2">
    <h4 class="text-center">Фильтры</h4>
    <div class="d-flex justify-content-center">
      <form class="row m-2" method="post">
        <div class="justify-content-center d-flex w-100">
          {% for field in form %}
            {% if field.errors | length %}
              {% for error in field.errors %}
                <p class="text-danger">{{field.name}}: {{error}}</p>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {{ form.hidden_tag() }}
        <div class="form-group col-4">
          <label for="person_id">Идентификатор</label>
          {{ form.id(class_='form-control', placeholder='ID')}}
          <small class="form-text text-muted">Числовой идентификатор человека</small>
        </div>
        <div class="form-group col-4">
          <label for="full_name">ФИО</label>
          {{ form.full_name(class_='form-control', placeholder='ФИО')}}
          <small class="form-text text-muted">ФИО студента</small>
        </div>
        <div class="form-group col-4">
          <label for="subject">Предмет</label>
          {{ form.subject(class_='form-control')}}
          <small class="form-text text-muted">Предмет, который ведёт преподаватель</small>
        </div>
        <div class="form-group col-6">
          <label for="edu_org">Учреждение</label>
          {{ form.edu_org(class_='form-control')}}
          <small class="form-text text-muted">Образовательная организация</small>
        </div>
        <div class="form-group col-6">
          <label for="department">Подразделение</label>
          {{ form.department(class_='form-control')}}
          <small class="form-text text-muted">Подразделение (нужно сначала указать учреждение)</small>
        </div>

        <div class="form-group w-100 justify-content-center d-flex">
          <button type="submit" class="btn btn-primary">Обновить</button>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center border-top row w-100">
    <h4 class="text-center w-100 m-2">Список</h4>
    {% if teachers is not none and teachers | length %}
      {% for teacher in teachers %}
      <div class="card bg-light w-25 m-4">
        <div class="card-header text-muted">
          <div class="m-auto">{{teacher.person_id}}</div>
        </div>
        <div class="card-body">
          <div class="card-text">
            <div><b>ФИО:</b> {{ teacher.pd.full_name() }}</div>
            <div><b>Учреждение:</b> <span data-toggle="tooltip" data-placement="right" title="{{ teacher.department.edu_org.name }}">{{ teacher.department.edu_org.short_name }}</span></div>
            <div><b>Подразделение:</b> <span data-toggle="tooltip" data-placement="right" title="{{ teacher.department.name }}">{{ teacher.department.short_name }}</span></div>
            <div><b>Предметы:</b></div>
            {% for subject in teacher.subjects %}
              <div>{{ subject.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="text-danger">Преподаватели не найдены</div>
    {% endif %}
  </div>
</div>
{% endblock %}
